<section class="max-w-xs lg:max-w-5xl m-auto lg:my-24 my-16">
  <div
    class="grid grid-rows-2 lg:grid-rows-none lg:grid-cols-2 place-items-center"
  >
    <div class="order-1 lg:order-none w-50 flex justify-center items-center">
      <img
        class="object-contain w-auto h-auto"
        src="/assets/online-meeting.png"
        alt="People meeting online"
      />
    </div>

    <div class="order-none lg:order-1 flex flex-col gap-8">
      <h3 class="font-black text-secondary-700 text-3xl max-w-[25ch]">
        Onde quer que você esteja, podemos trabalhar juntos.
      </h3>
      <p class="text-secondary-600 text-base leading-relaxed max-w-[35ch]">
        Trabalhamos de forma remota para que seja possível se adaptar à
        realidade dos nossos clientes.
      </p>
    </div>
  </div>
</section>
