<div class="relative w-full rounded-lg">
  <input
    class="peer focus:ring-0 border-none w-full rounded-[inherit]"
    id="input"
    type="text"
  />
  <label
    class="duration-300 cursor-text pointer-events-none text-gray-500 transition-all peer-focus:font-bold peer-focus:text-primary-400 h-fit select-none max-w-fit block overflow-hidden whitespace-nowrap overflow-ellipsis origin-top-left translate-y-[-50%] translate-x-[30%] top-[50%] peer-focus:translate-y-[0%] peer-focus:top-[-20%] text-xs absolute inset-0"
    for="input"
    >Password</label
  >
  <fieldset
    class="peer-focus:[&>legend]:max-w-xs [&>legend]:max-w-[0.01px] peer-focus:border-2 peer-focus:border-primary-400 overflow-hidden pl-2.5 top-[-5px] border border-solid border-gray-300 pointer-events-none absolute inset-0 rounded-[inherit]"
    aria-hidden="true"
  >
    <legend class="overflow-hidden block invisible h-[11px] text-xs">
      <span class="px-1">Password</span>
    </legend>
  </fieldset>
</div>
