<div class="flex flex-col gap-2">
  <div class="relative w-full rounded-lg">
    <ng-content id="{{ inputId }}"></ng-content>
    <label
      class="{{ styles.label.base }} {{ styles.label.hasValue }} {{
        styles.label.focus
      }} {{ styles.label.reset }}"
      for="{{ inputId }}"
      >{{ label }}</label
    >
    <fieldset
      class="{{ styles.fieldset.base }} {{ styles.fieldset.hasValue }} {{
        styles.fieldset.focus
      }} {{ styles.fieldset.reset }}"
      aria-hidden="true"
    >
      <legend class="{{ styles.legend }}">
        <span class="{{ styles.span }}">{{ label }}</span>
      </legend>
    </fieldset>
  </div>

  <span
    class="pl-1 text-xs block text-red-500 {{
      error ? 'opacity-100' : 'opacity-0'
    }}"
    >{{ errorText }}</span
  >
</div>
