<div class="relative w-full rounded-lg">
  <input
    class="peer focus:ring-0 border-none w-full rounded-[inherit]"
    id="input"
    type="text"
  />
  <label
    class="pl-3 peer-focus:translate-x-[5px] peer-focus:text-[8px] duration-200 peer-focus:duration-300 cursor-text pointer-events-none text-gray-500 transition-all peer-focus:font-bold peer-focus:text-primary-400 h-fit select-none max-w-fit block overflow-hidden whitespace-nowrap overflow-ellipsis origin-top-left translate-y-[-50%] top-[50%] peer-focus:translate-y-[0%] peer-focus:top-[-25%] text-xs absolute inset-0"
    for="input"
    >Aleksander Mirowsky Avila</label
  >
  <fieldset
    class="px-3 peer-focus:[&>span]:inline-block text-left m-0 peer-focus:[&>legend]:max-w-lg [&>legend]:max-w-[0.01px] peer-focus:border-2 peer-focus:border-primary-400 overflow-hidden top-[-5px] border border-solid border-gray-300 pointer-events-none absolute inset-0 rounded-[inherit]"
    aria-hidden="true"
  >
    <legend
      class="text-left float-[unset] w-auto origin-top-left text-[8px] overflow-hidden block invisible h-[11px] duration-300 transition-[max-width_transform]"
    >
      <span class="text-left visible opacity-0 px-[4px] whitespace-nowrap"
        >Aleksander Mirowsky Avila</span
      >
    </legend>
  </fieldset>
</div>
