<div class="relative w-full rounded-lg">
  <input
    class="peer focus:ring-0 border-none w-full rounded-[inherit]"
    id="input"
    type="text"
  />
  <label
    class="will-change-[transform_color] peer-focus:scale-75 duration-200 peer-focus:duration-300 cursor-text pointer-events-none text-gray-500 transition-all peer-focus:font-bold peer-focus:text-primary-400 h-fit select-none max-w-fit block overflow-hidden whitespace-nowrap overflow-ellipsis origin-top-left translate-y-[-50%] translate-x-[40%] top-[50%] peer-focus:translate-y-[0%] peer-focus:top-[-15%] text-xs absolute inset-0"
    for="input"
    >Password</label
  >
  <fieldset
    class="peer-focus:[&>legend]:max-w-xs [&>legend]:max-w-[0.01px] peer-focus:border-2 peer-focus:border-primary-400 overflow-hidden pl-3.5 top-[-5px] border border-solid border-gray-300 pointer-events-none absolute inset-0 rounded-[inherit]"
    aria-hidden="true"
  >
    <legend
      class="scale-75 overflow-hidden block invisible h-[11px] text-xs duration-300 transition-[max-width_transform] will-change-[max-width_transform]"
    >
      <span class="px-0">Password</span>
    </legend>
  </fieldset>
</div>
