<label
  for="message"
  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
  >{{ label }}</label
>
<textarea
  id="message"
  rows="6"
  #inputElement
  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
  placeholder="Escreva sua mensagem aqui.."
  [value]="value"
  (input)="onChange(inputElement.value)"
></textarea>
