<article
  class="bg-white shadow-centered transition-shadow rounded-lg justify-center items-center h-64 w-56 flex flex-col gap-3"
>
  <div class="h-28 w-28 overflow-hidden">
    <img
      class="h-full w-full object-center object-contain"
      [src]="picture"
      [alt]="name"
    />
  </div>

  <h4 class="text-center text-base font-bold text-secondary-700">
    {{ name }}
  </h4>

  <h5 class="font-normal text-secondary-700 text-[0.65rem]">{{ role }}</h5>

  <a
    role="button"
    [href]="href"
    class="flex justify-center items-center text-3xl text-green-600 hover:text-green-900 transition-colors"
    role="presentation"
  >
    <app-whatsapp-icon />
  </a>
</article>
