<section class="section-spacing">
  <div class="flex flex-col gap-8">
    <h1 class="text-xl font-black text-secondary-800">Entre em contato</h1>
    <form class="flex flex-col gap-6" action="">
      <app-text-input [label]="'Nome'" />
      <app-text-input [label]="'Telefone'" />
      <app-text-input [label]="'E-mail'" />
      <app-text-area [label]="'Mensagem'" />
      <app-button [attr.disabled]>Enviar</app-button>
    </form>
  </div>

  <div class="flex flex-col gap-5">
    <app-phone-number [location]="'São Paulo'" [phone]="'(51) 9-8477-3704'" />
    <app-phone-number
      [location]="'Porto Alegre'"
      [phone]="'(51) 9-8477-3704'"
    />
  </div>
</section>
