<section class="max-w-xs lg:max-w-5xl m-auto lg:my-24 my-16">
  <div class="grid grid-rows-2 lg:grid-rows-none lg:grid-cols-2 gap-14">
    <div class="flex gap-10 flex-col">
      <h1
        class="font-black text-secondary-800 max-w-[17ch] text-3xl lg:text-5xl lg:leading-[1.2]"
      >
        Consultoria estratégica de design e tecnologia
      </h1>
      <h2
        class="leading-relaxed text-base font-medium text-secondary-600 lg:max-w-[42ch] max-w-[36ch]"
      >
        Combinamos a criação de experiências excepcionais e soluções inovadoras
        para atender às suas necessidades em todas as etapas do processo.
      </h2>
      <app-button (click)="handleClick($event)"> Nossos serviços </app-button>
    </div>

    <div class="flex justify-center items-center">
      <app-hero-svg class="text-[16px] lg:text-[24px]" />
    </div>
  </div>
</section>
