<section class="bg-secondary-900 w-full h-auto">
  <div
    class="px-8 mx-auto lg:py-20 py-16 grid grid-rows-2 lg:grid-rows-none lg:grid-cols-2 gap-24"
  >
    <!-- Illustration section -->
    <div class="order-1 lg:order-0">
      <div class="flex justify-center items-center">
        <app-promo-svg class="text-[16px] lg:text-[19px]" />
      </div>
    </div>
    <!--  Text section     -->
    <div class="order-0 lg:order-1 flex flex-col gap-14 lg:gap-10">
      <h3 class="text-3xl text-white font-black leading-snug max-w-[20ch]">
        Métodos inteligentes. Melhores resultados.
      </h3>

      <h4 class="font-normal text-base text-white leading-normal max-w-[44ch]">
        Seu negócio precisa crescer, mas os custos não. Receba milhares de
        acessos sem ter problemas com servidores ou gastos desnecessários.
      </h4>
      <div class="flex gap-10">
        <app-provider-card class="text-[13px] lg:text-[20px]">
          <app-aws-svg class="text-[50px] lg:text-[80px]" />
        </app-provider-card>
        <app-provider-card class="text-[13px] lg:text-[20px]">
          <app-gcp-svg class="text-[50px] lg:text-[80px]" />
        </app-provider-card>
      </div>
    </div>
    <!-- Text section ends -->
  </div>
  <div
    class="text-center px-8 mx-auto flex flex-col justify-center items-center gap-6 lg:gap-4"
  >
    <h3 class="text-3xl text-white font-black leading-snug">
      Grandes projetos nascem aqui
    </h3>
    <h4 class="font-normal text-base text-white leading-loose max-w-[60ch]">
      Contamos com as principais ferramentas do mercado para oferecer soluções
      eficientes, impulsionando o sucesso nas entregas.
    </h4>

    <div class="mt-4 flex gap-6 lg:gap-10 lg:mt-8 text-3xl lg:text-5xl pb-16">
      <ng-container *ngFor="let item of skills">
        <ng-container *ngComponentOutlet="item.component"></ng-container>
      </ng-container>
    </div>
  </div>
</section>
