<section class="section-spacing">
  <div class="xl:max-w-md flex flex-col gap-8">
    <h1 class="text-center lg:text-left text-xl font-black text-secondary-800">
      Mande uma mensagem
    </h1>
    <form
      class="bg-white lg:px-10 lg:py-8 rounded-lg lg:shadow-centered grid lg:grid-cols-2 grid-flow-row gap-6"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <app-text-input formControlName="name" [label]="'Nome'" />
      <app-text-input formControlName="phone" [label]="'Telefone'" />
      <app-text-input
        formControlName="email"
        class="lg:col-span-2"
        [label]="'E-mail'"
      />
      <app-text-area
        formControlName="message"
        class="lg:col-span-2"
        [label]="'Mensagem'"
      />
      <div class="lg:col-span-2 flex justify-center lg:justify-start">
        <app-button class="lg:w-[50%] w-[75%]">Enviar</app-button>
      </div>
    </form>
  </div>
</section>
