<main class="bg-[#e5e8f0] h-screen w-screen flex items-center justify-center">
  <div
    class="__paper-gradient z-10 bg-white border-[4px] border-solid border-white max-w-[1200px] p-1 rounded-2xl xl:h-[80%] xl:w-[90%]"
  >
    <!-- inner grid -->
    <div class="grid h-full grid-cols-1 md:grid-cols-2">
      <div
        class="rounded-lg h-full w-full bg-[#7bacff17] hidden text-[15rem] invisible md:flex md:visible md:justify-center md:items-center"
      >
        <span class="font-extrabold text-[30px]">Logo here</span>
      </div>

      <app-login-form />
    </div>
    <!-- inner grid ends -->
  </div>

  <span class="absolute __bg-gradient w-full h-full"></span>
</main>
