<div
  class="h-full flex-col w-[75%] m-auto relative flex justify-center items-center gap-10"
>
  <div class="flex justify-center items-center">
    <h1 class="text-3xl text-gray-700 font-bold">Hello again!</h1>
  </div>

  <div class="flex justify-center items-center">
    <h2 class="text-center text-gray-600 font-semibold">
      Welcome back, you've been missed!
    </h2>
  </div>

  <div class="w-full">
    <app-text-input label="Login" />
  </div>

  <div class="w-full">
    <app-text-input label="Password" />
  </div>

  <div class="w-full flex justify-end">
    <!-- TODO# Create account recovery link (?) -->
    <a class="no-underline text-sm cursor-pointer font-semibold text-gray-400"
      >Forgot your password?</a
    >
  </div>

  <div class="w-full">
    <app-button
      size="large"
      class="transition-all shadow-primary-400/50 shadow-xl select-none rounded-xl hover:shadow-xl hover:shadow-primary-400/50 active:shadow-md active:shadow-primary-400/50"
    >
      Sign In
    </app-button>
  </div>
</div>
